
h1 {text-align: center;}
h2{text-align: center;}
p{text-align: center;}
.Images{
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.Images2{
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
form{
    margin-top: 50px;
    margin-left: 160px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.Us{
    height: 200px;
    margin-left: 100px;
    margin-right: 100px;
}
.service{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}